:root {
    --heading-weight: 500;
    --input-width: 20em;
}

body {
    font-family: monospace, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: rgb(255, 252, 240);
    color: rgb(16, 15, 15);
}

h1,
h2 {
    color: rgb(16, 15, 15);
    user-select: none;
    cursor: pointer;
    font-weight: var(--heading-weight);
}

h1 {
    font-size: calc(1.35em + 0.55vw);
    letter-spacing: -0.02em;
    margin-bottom: 0.25em;
    line-height: 1.25;
    margin-top: 1.5em;
}

h2 {
    font-size: calc(1em + 0.2vw);
    letter-spacing: -0.015em;
    margin-bottom: 0.5em;
    line-height: 1.3;
}

ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

li {
    background: rgb(242, 240, 229);
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    height: auto;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

li a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    width: 100%;
}

li:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.collapsible {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapsible-header .caret {
    display: inline-block;
    transition: transform 0.2s ease;
    transform: rotate(90deg);
    user-select: none;
}

.collapsible-header .caret.rotate {
    transform: rotate(180deg);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container h2,
.header-container h1 {
    margin: 0;
}

.header-container button {
    margin-left: 10px;
}

.restart-button {
    background-color: transparent;
    color: rgb(111, 110, 105);
    border: 1px solid rgb(230, 228, 217);
    border-radius: 3px;
    padding: 2px 6px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.3s ease;
}

.restart-button:hover {
    background-color: rgb(188, 82, 21);
    color: rgb(255, 252, 240);
    border-color: rgb(188, 82, 21);
}

.restart-button:active {
    background-color: rgb(175, 48, 41);
    border-color: rgb(175, 48, 41);
}

#auth-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2000;
    justify-content: center;
    align-items: center;
}

.auth-modal-content {
    background: rgb(255, 252, 240);
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-input-container {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.auth-input-container input {
    width: var(--input-width);
    padding: 8px;
    border: 1px solid rgb(230, 228, 217);
    background-color: rgb(242, 240, 229);
    border-radius: 4px;
    box-sizing: border-box;
}

.auth-input-container button {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.auth-submit {
    background-color: rgb(102, 128, 11);
    color: rgb(255, 252, 240);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.auth-cancel {
    background-color: rgb(175, 48, 41);
    color: rgb(255, 252, 240);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
}

button {
    background-color: rgb(242, 240, 229);
    color: rgb(16, 15, 15);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-family: monospace, sans-serif;
    transition: background-color 0.2s ease, color 0.3s ease;
}

button:hover {
    background-color: rgb(36, 131, 123);
    color: rgb(255, 252, 240);
}

footer {
    margin-top: 20px;
    text-align: center;
    color: rgb(111, 110, 105);
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content p a {
    text-decoration: none;
    color: rgb(16, 15, 15);
    text-decoration: underline;
    margin: 0 5px;
}

p a:not([href^="#"]):not([href^="/"]) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='2.5' stroke='gray' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25' /%3E%3C/svg%3E%0A");
    background-position: right 33%;
    background-repeat: no-repeat;
    background-size: 0.7em;
    padding-right: 0.75em;
}